<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/admin/dashboard">ZiniERPSystem</a>
        <button class="btn" @onclick="ToggleSideBar"><i class="fa-solid fa-arrow-left text-white fs-5"></i></button>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/dashboard" Match="NavLinkMatch.All">
                Dashboard
            </NavLink>
        </div>

        <Accordion />

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/customers">
                Customers
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/tasks">
                Tasks
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/invoices">
                Invoices
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/admin/logs">
                Logs
            </NavLink>
        </div>
    </nav>
</div>

@code {
    [Parameter]
    public EventCallback<bool> CloseSidebar { get; set; }

    public async void ToggleSideBar()
    {
        await CloseSidebar.InvokeAsync();
    }
}

