@page "/admin/employees"

<PageTitle>Employees</PageTitle>

<div class="d-flex align-items-center justify-content-between">
    <h1>Employees</h1>
    <NavLink href="/admin/addemployee"><button class="btn btn-dark">Add</button></NavLink>
</div>

@if (employees == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Company</th>
                @* <th></th> *@
            </tr>
        </thead>
        <tbody>
            @foreach (var employee in employees)
            {
                <tr>
                    <td>@employee.UserName</td>
                    <td>@employee.Email</td>
                    <td>@employee.Company?.Name</td>
@*                     <td>
                        <button class="btn btn-danger" @onclick="() => DeleteEmployee(employee.Id)">Delete</button>
                    </td> *@
                </tr>
            }
        </tbody>
    </table>
}