@page "/admin/managers"

<PageTitle>Managers</PageTitle>

<div class="d-flex align-items-center justify-content-between">
    <h1>Managers</h1>
    <NavLink href="/admin/addmanager"><button class="btn btn-dark">Add</button></NavLink>
</div>

@if (managers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Companies</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var manager in managers)
            {
                <tr>
                    <td>@manager.UserName</td>
                    <td>@manager.Email</td>
                    <td>
                        @if (manager.Companies != null)
                        {                            
                            @foreach (var company in manager.Companies)
                            {
                                <span>@company.Name</span>
                            }
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
}