@page "/employee/tasks"

<PageTitle>Tasks</PageTitle>

<div class="d-flex align-items-center justify-content-between">
    <h1>Tasks</h1>
</div>

@if (tasks == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <div class="table-responsive">
        <table class="table">
        <thead>
            <tr>
                <th>Todo</th>
                <th>Description</th>
                <th>Assignee</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var task in tasks)
            {
                <tr>
                    <td>@task.Work</td>
                    <td>@task.Description</td>
                    <td>@task.Asignee?.UserName</td>
                </tr>
            }
        </tbody>
    </table>
    </div>
}